.header__subtitle {
  margin: auto;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 608px;
}

@media screen and (max-width: 930px) {
  .header__subtitle {
    max-width: 452px;
  }
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    margin-left: 160px;
  }
}
@media screen and (max-width: 700px) {
  .header__subtitle {
    max-width: 288px;
    margin: auto;
  }
}
