.header__title {
  margin: auto;
  padding: 160px 0 32px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
}

@media screen and (max-width: 930px) {
  .header__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    padding: 104px 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .header__title {
    margin-left: 163px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    max-width: 285px;
    margin: auto;
    padding: 86px 0 16px;
  }
}
@media screen and (max-width: 320px) {
  .header__title {
    margin-left: 19px;
  }
}
