.modal__close-button {
  background: url(../../../images/CloseIcon.svg) no-repeat center/cover;
  position: absolute;
  width: 33px;
  height: 33px;
  border: none;
  background-color: transparent;
  right: -33px;
  top: -33px;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .modal__close-button {
    width: 24px;
    height: 24px;
    right: 16px;
    top: -40px;
  }
}
.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
