.navigation_burger-open {
  max-width: 1440px;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  pointer-events: all;
  top: 0;
  z-index: 1;
}
