.search-form {
  margin: 88px auto 80px;
  box-sizing: border-box;
  max-width: 608px;
  height: 64px;
  position: relative;
}

@media screen and (max-width: 930px) {
  .search-form {
    margin: 48px auto;
    height: 56px;
    max-width: 448px;
  }
}

@media screen and (max-width: 700px) {
  .search-form {
    margin: 122px auto;
    height: 128px;
    max-width: 288px;
  }
}
