.navigation__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  padding: 12px;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-color: white;
}

.navigation_bright-theme .navigation__button {
  color: black;
  border-color: #d1d2d6;
}

@media screen and (max-width: 930px) {
  .navigation__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .navigation__button {
    line-height: 1.33;
    margin: 38px 16px 24px;
    max-width: 288px;
    width: 100%;
  }
}
