.form__input {
  box-sizing: border-box;
  display: block;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0 0px;
  padding: 0 0 10px;
  width: 358px;
}

@media screen and (max-width: 700px) {
  .form__input {
    width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .form__input {
    max-width: 100%;
  }
}
